<% 
    const collection="setting" ; 
    const linkPrefix="/" + systemConfig.prefixAdmin + `/${collection}/`; 
    const linkThumb="/" + "uploads" + `/${collection}/`; 
%>

    <%- main.showError %>
        <div class="card card-info card-outline">
            <form action="<%= linkPrefix %>save/6331791e087d00adf830604d" method="POST" class="mb-0">
                <div class="card-body">
                    <%= main.pageTitle %>
                        <div class="col-12 col-md-10 col-sm-10 mt-2 mx-auto">
                            <div class="card card-primary card-tabs">
                                <div class="card-header p-0 pt-1">
                                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill"
                                                href="#custom-tabs-one-home" role="tab"
                                                aria-controls="custom-tabs-one-home" aria-selected="true">Web</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-one-profile" role="tab"
                                                aria-controls="custom-tabs-one-profile"
                                                aria-selected="false">Social</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-one-tabContent">
                                        <div class="tab-pane fade active show" id="custom-tabs-one-home" role="tabpanel"
                                            aria-labelledby="custom-tabs-one-home-tab">
                                            <div class="form-group row">
                                                <label for="title" class="col-sm-2 col-form-label text-sm-right required">Title</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" id="title-input-form" name="title" value="<%= item.title %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row uploadImage">
                                                <label for="thumb" class="col-sm-2 col-form-label text-sm-right">Logo</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input id="ImageMedias" name="thumb" type="file" class="custom-file-input">
                                                    <div id="divImageMediaPreview">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="address" class="col-sm-2 col-form-label text-sm-right required">Adress</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" id="address-input-form" name="address" value="<%= item.address %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="phonenumber" class="col-sm-2 col-form-label text-sm-right required">Phone Number</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="phonenumber" id="number-input-form" name="phonenumber" value="<%= item.phonenumber %>" class="form-control form-control-sm"></div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-2 col-form-label text-sm-right required">Email</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="email" id="number-input-form" name="email" value="<%= item.email %>" class="form-control form-control-sm"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                                            aria-labelledby="custom-tabs-one-profile-tab">
                                            <div class="form-group row">
                                                <label for="linkfacebook" class="col-sm-2 col-form-label text-sm-right">Facebook</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkfacebook" id="urlFacebook"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkfacebook %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkTwitter" class="col-sm-2 col-form-label text-sm-right">Twitter</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkTwitter" id="urlTwitter"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkTwitter %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkInstagram" class="col-sm-2 col-form-label text-sm-right">Instagram</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkInstagram" id="urlInstagram"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkInstagram %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkYoutube" class="col-sm-2 col-form-label text-sm-right">Youtube</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkYoutube" id="urlYoutube"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkYoutube %>"
                                                    required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="linkLinkedIn" class="col-sm-2 col-form-label text-sm-right">LinkedIn</label>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="url" name="linkLinkedIn" id="urlLinkedIn"
                                                    placeholder="https://example.com"
                                                    pattern="https://.*" size="30" class="form-control form-control-sm"
                                                    value="<%= item.linkLinkedIn %>"
                                                    required>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="col-12 col-sm-8 offset-sm-2">
                        <button type="submit" class="btn btn-sm btn-success mr-1">
                            Submit</button>
                        <a href="<%= linkPrefix %>/" class="btn btn-sm btn-danger mr-1">
                            Cancel</a>
                    </div>
                </div>
            </form>

        </div>

        <script src="/plugins/jquery/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- Summernote -->
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script>
            ImageMedias.onchange = evt => {
                const [file] = ImageMedias.files
                if (file) {
                    image_uploaded.setAttribute('value', 'uploaded')
                } else {
                    image_uploaded.setAttribute('value', '')
                }
            }
        </script>