<!-- Contact Start -->
<div class="container-fluid pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">LIÊN HỆ VỚI CHÚNG TÔI</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <div class="mb-4">
                        <h6 class="text-uppercase font-weight-bold mb-3">Thông Tin Liên Hệ</h6>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Địa Chỉ</h6>
                            </div>
                            <p class="m-0"><%= settingData.address %></p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-envelope-open text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Email</h6>
                            </div>
                            <p class="m-0"><%= settingData.email %></p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-phone-alt text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Số Điện Thoại</h6>
                            </div>
                            <p class="m-0"><%= settingData.phonenumber %></p>
                        </div>
                    </div>
                    <h6 class="text-uppercase font-weight-bold mb-3">Liên Hệ</h6>
                    <form method="post" id="sendMail">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control p-4" placeholder="Tên" required="required"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control p-4" placeholder="Email" required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control p-4" placeholder="Chủ Đề" required="required"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control p-4" rows="4" name="message" placeholder="Lời Nhắn" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;" type="submit">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- News With SidebarRight Start -->
            <div
                class="col-lg-4">
                <!-- Social Follow Start -->
                <%- include('./../../elements/sidebarright/wheather'); -%>
                <!-- Social Follow End -->

                <!-- Ads Start -->
                <!-- Ads End -->

                <!-- Popular News Start -->
                <%- include('./../../elements/sidebarright/popularnews'); -%>
                <!-- Popular News End -->

                <!-- Newsletter Start -->
                <%- include('./../../elements/sidebarright/newsletter'); -%>
                <!-- Newsletter End -->
                <!-- Tags Start -->
            <%- include('./../../elements/sidebarright/tags'); -%>
                <!-- Tags End -->
            </div>
            <!-- News With SidebarRight End -->
        </div>
    </div>
</div>
<!-- Contact End -->
